
{% load static %}
{% load i18n %}
{% load account socialaccount %}

<!DOCTYPE html>
<html lang="en">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{% static 'style.css' %}" rel="stylesheet">

<title>Sign In</title>
<link rel = "icon" href = "{% static 'img/bsf.jpg' %}" 
            type = "image/x-icon">



{% comment %} {% block head_title %}{% trans "Sign In" %}{% endblock %} {% endcomment %}

{% comment %} {% block content %} {% endcomment %}

<body style="background-color: #17a2b8b8;">
  <div>
    <h3 class="text-center text-white pt-5">Bsffuta</h3>
    <h3 class="text-center text-white pt-5">Sign In</h3>
    <div class="container">
      <div class="column md-6" style="background-color:#17a2b8;">
          <div id="login-row" class="row justify-content-center align-items-center">
                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                <p>{% blocktrans with site.name as site_name %}Please sign in with one
                of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

            <div class="socialaccount_ballot">

              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>

              <div class="login-or">{% trans 'or' %}</div>

            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}" class="text-white">sign up</a> first.{% endblocktrans %}</p>
            {% endif %}

          </div>

          <div id="login-row" class="row justify-content-center align-items-center">

            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <a class="button secondary text-white" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              <button class="btn-primary" type="submit">{% trans "Sign In" %}</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</body>

{% comment %} {% endblock %} {% endcomment %}
