{% load static %}
{% load i18n %}
{% load account socialaccount %}

<!DOCTYPE html>
<html lang="en">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{% static 'style.css' %}" rel="stylesheet">

<title>Sign Out</title>
<link rel = "icon" href = "{% static 'img/bsf-1.png' %}" 
            type = "image/x-icon">

<body style="background-color: #228b22;">
<center><img src="{% static 'img/bsf-1.png' %}" width="200"></center>
  <div>
        <h3 class="text-center text-white pt-1"  style="font-family:Harlow Solid Italic;"><b>BSFFUTA</b></h3>
        <h3 class="text-center pt-5" style="font-family: Freestyle Script; color: white;"><b>Sign Out</b></h3>
        <div class="container">
        <center>
          <div class="column md-6" style="background-color:white; width:330px; height:70px;">
            <div id="login-row" class="row justify-content-center align-items-center">
              <h5>Are you sure you want to sign out?</h5>
            </div>

            <div id="login-row" class="row justify-content-center align-items-center">
              <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn-primary" type="submit">{% trans 'Sign Out' %}</button>
              </form>
            </div>
          </div>
        </center>
        </div>
  </div>
</body>