{% load static %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load account socialaccount %}

<!DOCTYPE html>
<html lang="en">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{% static 'style.css' %}" rel="stylesheet">

<title>Sign Up</title>
<link rel = "icon" href = "{% static 'img/bsf.jpg' %}" 
            type = "image/x-icon">


<body style="background-color: #22b228;">
<center><img src="{% static 'img/bsf-1.png' %}" width="200"></center>

  <div>
      <h3 class="text-center text-white pt-1" style="font-family:Harlow Solid Italic;"><b>BSFFUTA</b></h3>
      <h3 class="text-center pt-3" style="font-family: Freestyle Script; color: white;"><b>Sign In</b></h3>
      <div class="container">
        <center>
          <div class="column md-8" style="background-color:white; width:520px; height:420px; padding-bottom:5px;">
            <div id="login-row" class="row justify-content-center align-items-center">
              <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
            </div>
            <div id="login-row" class="row justify-content-center align-items-center">
              <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% comment %} {{ form.as_p }} {% endcomment %}
                {% bootstrap_form form %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
              </form>
            </div>
          </div>
        </center>
      </div>
  </div>
</body>

